
.tx_type_choice_radio {
    border: 1px solid black;
    padding: 15px;
}

.payment_processor_choice_radio {
    border: 1px solid black;
    padding: 15px;
}

.errors {
    color: red;
    font-weight: bold;
}

.errors ul {
    list-style-type: none;
}